*{
    font-family:'Courier New', Courier, monospace;
  }

:root{
  --maroon:rgb(49, 52, 61);
  --cyan: rgb(146, 203, 206);
  --bg:rgb(238,238,247);
}

body{
  background-color: var(--bg);

}

h2{
  display:flex;
  margin-right:50px;
  padding-right:25px;
  font-size:42px;
  color:var(--maroon);
  border-right: 4px solid var(--maroon);
  background-color: var(--bg);

}

header{
    display:flex;
    justify-content:space-between ;
    background-color:var(--maroon);

}

header h1{
  background-color:var(--cyan);
  padding-left:60px;
}

header nav{
  display:flex;
  margin-right:10px;
  align-items: center;
  list-style-type: none;
  background-color:var(--maroon);

}  

header h3 a{
  margin-right:15px;
  padding: 0px 5px;
  text-align:center;
  justify-content: flex-end;
  font-weight:600;
  font-size:20px;
  background-color:var(--maroon);
  color:var(--cyan);
  border-bottom: 4px solid var(--cyan);
  text-decoration:inherit;

}

 /* header:hover a{
    transition:ease-in-out;
    border-width: 5px;
}  */

div p{
 position:absolute;
 top:120px;
 right:40px;
 font-size:36px;
 font-weight:bold;
 padding:0px 10px;
 text-decoration:inherit;
 background-color:var(--cyan);
}

div img{
position:relative;
width:100%;
min-height:120px;
height:auto;  
z-index:0;
}

aside{
  display:flex;
  justify-content: flex-start;
  background-color: var(--bg);
}

aside p{
  background-color: var(--bg);

}

content{
  display:flex;
  justify-content:flex-start;
  background-color: var(--bg);
  flex-wrap:wrap;
}

content a{
  flex: 0 1 50%;
}

content img{
  max-width: 100%;
}

#project{
  border: 6px solid lightgray;
  background-color: var(--bg);
  margin:15px;
}

#projlab1{
 position:absolute;
 font-size:20px;
 font-weight:bold;
 padding:5px 10px;
 text-decoration:inherit;
 background-color:var(--cyan);
 z-index:1;
 margin-top:21px;
 margin-left:21px;
}

#projlab2{
  position:absolute;
  font-size:20px;
  font-weight:bold;
  padding:5px 10px;
  text-decoration:inherit;
  background-color:var(--cyan);
  z-index:1;
  margin-top:21px;
  margin-left:21px;
 }
 #projlab3{
  position:absolute;
  font-size:20px;
  font-weight:bold;
  padding:5px 10px;
  text-decoration:inherit;
  background-color:var(--cyan);
  z-index:1;
  margin-top:21px;
  margin-left:21px;
 }
 #projlab4{
  position:absolute;
  font-size:20px;
  font-weight:bold;
  padding:5px 10px;
  text-decoration:inherit;
  background-color:var(--cyan);
  z-index:1;
  margin-top:21px;
  margin-left:21px;
 }

footer{
  display:flex;
  align-items:center;
  justify-content: flex-end;
}

footer h2{
  display:flex;
  border-right: 4px solid var(--maroon);
  font-size:42px;
  margin-right:50px;
  padding-right:25px;
  color:var(--maroon);
  
}

footer ul{
  align-items: center;
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  gap:20px;
  list-style-type: none;
  margin-right:30px;


}

footer li a{
  display:flex;
  flex-direction: row;
  font-weight:600;
  font-size:20px;
  color:var(--maroon);
  border-bottom: 3px solid var(--maroon);
  text-decoration:inherit;
  margin-right:30px;
}

@media (max-width: 500px) {
  #project {
  flex-direction: column;
  }
  content a{
    flex: 0 1 100%;
  }
  
  nav h3{
    font-size:20px;

  }
  header{
    flex-direction:column;
  }
  nav a{
    font-size:16px;
  }
  
  }
  @media (max-width: 600px) {
  #project {
  flex: 1 46%;
  }
  }
  @media (max-width: 920px) {
  #project {
  flex: 1 21%;
  }
  content img{
    max-width: 60%;
  }
  }

  